html,
body,
#root {
    width: 100%;
    height: 100%;
}

#root {
    margin-top: 37px;
}

.alert {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: #FFF;
    color: #11001C;
    padding: 10px;
    font-weight: bold;
    z-index: 2;
}

.alert span {
    color: #106C3E;
}

#header {
    font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, monospace;
    height: 100px;
    z-index: 2;
}

#home {
    min-height: 100%;
}

#about {
    margin-bottom: 60px;
}

.aside-social-media i {
    font-size: 20px;
    padding: 0 1em;
}

.aside-social-media {
    margin-left: 7px;
}

.picture {
    max-width: 340px;
    height: 400px;
}

.desc-about-me {
    margin-top: 40px;
}

.desc-about-me p {
    max-width: 560px;
}

.section {
    padding-left: 70px;
    /*! min-height: 100%; */
    /*! padding-bottom: 70px; */
    padding-top: 150px;
}

.list-skills {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
}

.list-skills i {
    font-size: 15px;
}

.line-animation {
    position: relative;
}

.line-animation i {
    margin-right: 6px;
}

.line-animation::before {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #48BF84;
    display: block;
    position: absolute;
    bottom: 3px;
    animation: blink 1s linear infinite;
    opacity: 0;
    right: -24px;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0
    }
}

.title-sect {
    position: relative;
    width: max-content;
}

.sub-title-sect {
    color: rgb(204, 214, 246)
}

#experience>main {
    padding-top: 40px;
}

#experience article {
    margin-left: 55px;
    margin-bottom: 30px;
}

#experience .date-experience {
    margin-bottom: 10px
}

#experience .desc-experience {
    max-width: 750px;
}

.btn-contact {
    width: max-content;
}


/* .title-sect::after {
    content: "";
    display: block;
    height: 1px;
    width: 216px;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    right: -111%;
} */

@media screen and (min-width:1400px) {
    #about main {
        justify-content: center;
    }
}

@media screen and (max-width:700px) {
    #about>article {
        flex-direction: column;
    }
    #about>article>aside {
        width: 100%;
    }
    #about>article>main {
        width: 100%;
        justify-content: center;
        margin-top: 40px;
    }
}

@media screen and (max-width:600px) {
    .title-sect {
        font-size: 30px;
    }
    .text-primary {
        font-size: 13px;
    }
    #home h2 {
        font-size: 50px;
    }
    #home h3 {
        font-size: 45px;
    }
    .aside-social-media a {
        padding: 1em .5em;
    }
    .section {
        padding-left: 55px;
    }
}

@media (max-width:500px) {
    #header {
        display: none !important;
    }
    #experience article {
        margin-left: 0px;
    }
    .container {
        padding: 0px 25px;
    }
}

@media screen and (max-width:400px) {
    .aside-social-media {
        margin-left: 0;
    }
    .aside-social-media a {
        padding: 1em 0;
    }
    .section {
        padding-left: 25px;
    }
    .title-sect {
        font-size: 25px;
    }
    .text-primary {
        font-size: 11px;
    }
    #experience .date-experience {
        font-size: 10px
    }
}