/*
 Autor: Angel Salvador
 @angelsalvadormx
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 3.75em;
  text-transform: uppercase;
  letter-spacing: -0.075rem;
}

}
.divider-c-green{
  background-color: #00FFD1;
}*/



#banner .layer{
  display: none !important;
}
#home main p {
  font-size: 1.25em;
}

/*layer*/

.layer {
  /* background-color: rgba(65, 32, 109, 0.27); */
  background-color: rgba(32, 30, 82, 0.2);
}
.layer-green{
  background: linear-gradient(to top, rgba(43,50,94,0.2), rgba(43,50,94,0.2));
}


/*display*/
.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-grid {
  display: grid;
}

.d-inline {
  display: inline;
}

.aside-about-us{
  background-color: #242d2e!important;
  height: 90%;
  right: 5%;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  padding: 60px 49px 60px 52px;
}
.aside-about-us h2{
  text-transform: uppercase;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-family: Oswald, sans-serif !important;
  padding-bottom: 40px !important;
}
.aside-about-us main{
  line-height: 1.6;
  color: #647072;
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
.aside-about-us main p{
  margin-bottom: 20px;
}
#about-us{
  height: 1000px;
}