/*colors*/

.txt-nevada {
    color: #647072;
}

.txt-mine-shaft {
    color: #232323;
}

.bg-outer-space {
    background-color: #242d2e;
}
.bg-gallery {
    background-color: #efefef
}

.bg-mine-shaft {
    background-color: #242d2e ;
}
.bg-white{
    background-color: white;
}
.bg-wild-sand{
    background-color: #f5f5f5;
}
.bg-yellow{
    background-color: #ffb609;
}

